<h1>Books list</h1>
<row>
<% @books.each do |book| %>
<div class="col-md-3">
  <div class="thumbnail">
    <%= image_tag "agwd.jpg", class: "img-responsive"%>
    <div class="caption">
      <h3><%= link_to   book.name, book_path(book) %></h3>
      <h5> by <%= book.author %> </h5>
      <p>Price: <%= number_to_currency(book.price) %></p>
      <p><%= link_to "View more", book_path(book), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
<% end %>

</row>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Price</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td><%= book.price %></td>
        <td><%= book.availability %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
